.header{
    background-color:rgb(0, 0, .67);
    height: 7rem;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    box-shadow: 0 .5rem .2rem rgba(0, 0, 0, 0.76);
    z-index: 1;

    h1{
        font-size: 4rem;
        color: white;
        font-family: fantasy;
    }
}

.mainImages{
    width: 100%;
    height: calc(100vh - 7rem - 20vh);
    overflow: hidden;

    img{
        width: 130%;
        height: 100%;
        object-fit: cover;
        transform: rotateZ(-5deg) translateY(-80px) translateX(-25px);
    }
    
}

