.form-control{
    div{
        padding: 1rem 0;
        label{
            font-size: 1.5rem;
            font-weight: 500;
        }
        input{
            font-size: 1.8rem;
            padding-left: .2rem;
            font-family: monospace;
            border: .1rem solid white;
            transition: all .1s ease-in-out;

            &:hover{
                border: .1rem solid black;
            }
        }
    }
    button{
        padding: 1rem;
        font-weight: 700;
        border: .1rem solid black;
        cursor: pointer;
        transition: all .2s ease-in-out;
        &:hover{
            background-color: green;
            color: white;
            border-color:green ;
            outline: none;
        }

    }
}